<h1>Songs#index</h1>
<p>Find me in app/views/songs/index.html.erb</p>
<tbody>
  <!-- <tr>
    <th>Title</th>
    <th>Artist Name</th>
    <th>Genre</th>
    <th>Released?</th>
    <th>Release Year</th>
  </tr> -->
<% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= song.artist_name %></td>
    <td><%= song.genre %></td>
    <td><%= song.released %></td>
    <td><%= song.release_year %></td>
  </tr>
<% end %>

</tbody>
<!--
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> -->
